.footer-left{
	float:left;
}

.footer-right{
	float:right;

	h3{
		font-size: 22px;
		color: #363636;
	}
}

.footer-title{
	font-size: 44px;
	.title-thin();
	color: #28553d;
	margin-top: 17px;
}

.social{
	float:right;
	list-style: none;
	padding-left:0;
	.clearfix();

	li{
		float:left;
		margin-left: 5px;
		display: block;

		a{
			color:#fff;
		}
	}

	i.fa {
		border-radius: 3px;
	}

	i.fa-facebook{
		background-color: #3b5998;
		padding: 10px 15px; 
	}

	i.fa-twitter{
		background-color: #39c9ff;
		padding: 10px 12px; 
	}

	i.fa-linkedin{
		background-color: #006699;
		padding: 10px 12px; 
	}

	i.fa-google-plus{
		background-color: #d44837;
		padding: 10px 12px; 
	}

	@media(max-width: 640px){
		float: none;
		text-align: center;
	}

}

footer{
	background-color: #e6e6e6;
	height: 40px;
	padding: 11px 0;
	.clearfix();

	font-size: 12px;
}

.footer-location{
	@media(max-width: 640px){
		text-align: center;
	}
}

.footer-connect{
	@media(max-width: 640px){
		h3{
			text-align: center;
		}
	}
}
@media (max-width: 1024px) {
	.container-lg {
		width: 100%;
	}
}
@media (max-width: 1024px) {
	.footer-full {
		width: 59%;
  		float: right;
	}
}
@media (max-width: 768px) {
	.row {
		text-align: center;
	}
	.footer-full {
		width: 100%;
	}
	.footer-modify-phone {
		float: left;
		width: 100%;
		padding-top: 20px;
	}
	.footer-location-modify {
		width: 100%;
	}
	.footer-modify-phone {
		width: 100%;
	}
	.title-bold{
		width: 100%;
  		text-align: center;
	}
	.social {
		text-align: center;
  		width: 63%;
	}
	.footer-nav-center {
		width: 88%;
		display: block;
		float: left;
	}
}

@media (max-width: 640px) {
	.footer-full {
		width: 100%;
	}
	.footer-modify-phone {
		float: left;
		width: 100%;
		padding-top: 20px;
	}
	.footer-location-modify {
		width: 100%;
	}
	.footer-modify-phone {
		width: 100%;
	}
}