.media-body {
	padding-left: 45px;
	padding-bottom: 50px;
}
.media-object {
	padding: 12px;
	width: auto;
}
.section-media-space {
	padding-left: 40px;
}
.meeting-no-space {
	padding: 0px;
}
.meeting-with-space {
	padding-bottom: 0px;
}
.media-par {
	width: 86%;
	line-height: 30px;
}
.meeting-no-border {
	
}
.meeting-no-border {
	border-bottom: 0px;
}
.meeting-col {
	margin-top: 0px !important;
}

@media (max-width: 1024px) {
	.banner {
		margin-top: 182px;
	}
	.section-media-space {
		margin-right: 51px;
	}
	.meeting-col {
		width: 53%;
	}
}
@media (max-width: 768px) {
	.section-media-space {
		margin-right: 10px;
		padding-left: 10px;
		float: left;
		width: 55%;
	}
	.meeting-col {
		width: 43%;
	}
	.media-par {
		width: 100%;
		line-height: 25px;
	}
	.meeting-view {
		margin-top: 0px;
	}
}
@media (max-width: 600px) {
	.section-media-space {
		width: 100%;
	}
	.meeting-col {
		width: 100%;
		text-align: center;
		padding-top: 35px !important;
	}
	.row {
		padding: 0px 85px;
	}

	.meeting-view {
		text-align: center;
	}
	.post-actions {
		width: 100%;
  		padding: 0px 103px;
	}
}
@media (max-width: 384px) {
	.section-media-space {
		width: 100%;
		padding-left: 0px;
	}
	.meeting-col {
		width: 100%;
		text-align: center;
		padding-top: 35px !important;
	}
	.row {
		padding: 0px 0px;
	}

	.meeting-view {
		text-align: center;
	}
	.post-actions {
		width: 100%;
  		padding: 0px 103px;
	}
	.container {
		width: 100%;
	}
}