.media-body {
	padding-left: 45px;
	padding-bottom: 50px;
}
.media-object {
	padding: 12px;
	width: auto;
}
.section-media-space {
	padding-left: 40px;
}
.meeting-no-space {
	padding: 0px;
}
.meeting-with-space {
	padding-bottom: 0px;
}
.media-par {
	width: 86%;
	line-height: 30px;
}
.meeting-no-border {
	
}
.meeting-no-border {
	border-bottom: 0px;
}
.meeting-col {
	margin-top: 0px !important;
}

@media (max-width: 1024px) {
	.banner {
		margin-top: 182px;
	}
	.section-media-space {
		margin-right: 51px;
	}
	.meeting-col {
		width: 53%;
	}
}
@media (max-width: 768px) {
	.section-media-space {
		margin-right: 10px;
		padding-left: 10px;
		float: left;
		width: 55%;
	}
	.meeting-col {
		width: 43%;
	}
	.media-par {
		width: 100%;
		line-height: 25px;
	}
	.meeting-view {
		margin-top: 0px;
	}
}
@media (max-width: 600px) {
	.section-media-space {
		width: 100%;
	}
	.meeting-col {
		width: 100%;
		text-align: center;
		padding-top: 35px !important;
	}
	.row {
		padding: 0px 85px;
	}

	.meeting-view {
		margin-left: 100px;
	}
}
@media (max-width: 384px) {
	.section-media-space {
		width: 100%;
	}
	.meeting-col {
		width: 100%;
		text-align: center;
		padding-top: 35px !important;
	}
	.row {
		padding: 0px 0px;
	}

	.meeting-view {
		text-align: center;
		margin-left: 105px;
	}
	.container {
		width: 100%;
	}
	.post-img {
		width: 349px !important;
 		min-width: 349px !important;
 		height: 258px !important;
 		min-height: 256px !important;
	}
	.banner-subtitle {
		line-height: 26px;
	}
}
@media (max-width: 736px) {
	.post-img {
		width: 396px !important;
		min-width: 396px !important;
	}
	.media-heading {
		font-size: 21px;
	}
}

@media (max-width: 414px) {
	.row {
		padding: 0px 0px;
	}
	.post-img {
		width: 380px !important;
  		min-width: 380px !important;
	}
	.meeting-with-space {
		padding: 0px 0px;
	}
}

@media (max-width: 667px) {
	.post-img {
		width: 359px !important;
		min-width: 359px !important;
	}
	.media-heading {
		font-size: 18px;
	}
}
@media (max-width: 375px) {
	.post-img {
		width: 340px !important;
		min-width: 340px !important;
		height: 193px !important;
  		min-height: 193px !important;
	}
	.media-heading {
		font-size: 22px;
	}
	.meeting-view {
		margin-left: 80px;
	}
}
@media (max-width: 320px) {
	.post-img {
		width: 285px !important;
		min-width: 285px !important;
		height: 193px !important;
  		min-height: 193px !important;
	}
	.media-heading {
		font-size: 22px;
	}
	.meeting-view {
		margin-left: 46px;
	}
}