.navbar{
	margin-bottom: 0;
	border-radius: 0;
	background-color: transparent;
	.navbar-nav.navbar-right,
	.navbar-nav {
		li { margin-right: 10px; }
		a {
			font-weight: bold;
		}
	}
}

@media (min-width: 1024px) {
	.navbar {
		margin: 0px;
		font-size: 11px;
	}
}

.navbar-fixed-top{
	border:0;
}

.navbar-top{
	min-height: 95px;
	background-color: #fff;
	margin-bottom:0;
	padding-left:65px;
	padding-right:75px;
	border-radius: 0;
	border: 0;
	box-shadow: rgba(0, 0, 0, 0.37) 0 0px 5px;
	transition: all 0.5s;

}

.navbar-default .navbar-collapse {
	border: 0 !important;
}

.navbar-nav{
	margin: 1.5em 0;
    transition: all 0.5s;
	> li{

		a{
			font-size: 14px;
			color: #4f5752;
			text-transform: uppercase;
			.title-bold();

			&:focus, &:hover{
				color: #4f5752;
				background-color: transparent ;
			}

			&:after{
				content: '';
				position: absolute;
				height: 1px;
				bottom: -4px;
				left: 0px;
				background-color: #2a88bf;
				width: 0px;
				-webkit-transition: all 0.4s;
				transition: all 0.4s;
				-webkit-transition: all all 0.4s ease;
				-moz-transition: all all 0.4s ease;
				-ms-transition: all all 0.4s ease;
				-o-transition: all all 0.4s ease;
				transition: all all 0.4s ease;
			}
		}

		&.active{
			> a{
				color: #4f5752;
				background-color: transparent;

				&:focus, &:hover{
					color: #4f5752;
					background-color: transparent;
				}
			}
		}
	}

	> .open{
		> a{

			&:focus{
				color: #4f5752;
				background-color: transparent;
			}
		}
	}
}

.navbar-right{
	> li{

		> a{
			font-size: 16px;
			text-transform: none;
			.title-reg();
		}


		&.disabled{
			font-size: 16px;
			padding:15px 0;
			color: #8e8e8e;
		}
	}
}

.navbar-form-wrapper{
	z-index: 10;
	margin-top: 0;
	background: rgba(0,0,0,0.27);
	padding-top: 10px;
	padding-bottom: 10px;

	> li{
		> a{

		}
	}

	form{
		width: 1023px;
		margin: auto;
		.clearfix;

	}

	.form-group{
		margin: 13px 0px;
		display: inline-block;
		text-align: left;
	}
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.contactform .nav-tabs-primary > li > a {
	color: #fff !important;
}

.navbrand > img {
	display: block;
	transition: width 0.5s;
}

.form-date {
	background-color: @brand-white;
	display: block;
	width: 23%;
	position: relative;
	float: left;
	margin-right: 2px !important;
	.input-group {
		text-align: center;
		.form-control {	
			border-right-width: 0;
			min-height: 45px;
			display: inline-block;
			width: 75%;
			border: 2px solid @brand-white;
			box-shadow: none;
			font-weight: bold;
		}
	}
	
	.input-group-icon {
		padding: 10px;
	}
	.glyphicon-input {
		color: @form-input-icon-color;
		position: relative;
		top: 4px;
		left: 90px;
	}
}

.custom-select {
	width: 23% !important;
	float: left;
	.form-control {
		border: 0;
		box-shadow: none;
		font-weight: bold;
	}
	select {
		min-height: 45px;
	}
}

.form-group-action {
	width: 16% !important;
	float: left;
	position: absolute;
	
	button {
		min-height: 45px;
	}
}

.img-camera {
	display: inline-block;
	padding-bottom: 6px;
}
@media (max-width: 1024px) and (min-width: 769px) {
	.nav-bar-width-wrapper {
		width: 89% !important;
  		margin: 0px !important;
  		padding-left: 15px !important;
	}
}
@media (max-width: 768px) and (min-width: 641px) {
	.nav-bar-width-wrapper {
		width: 82% !important;
  		margin: 0px !important;
  		padding-left: 15px !important;
	}
}
@media (max-width: 640px) and (min-width: 481px) {
	.nav-bar-width-wrapper {
		width: 76% !important;
  		margin: 0px !important;
  		padding-left: 15px !important;
	}
}
@media (max-width: 480px) and (min-width: 321px) {
	.nav-bar-width-wrapper {
  		margin: 0px !important;
  		padding-left: 15px !important;
  	}
  	.mobile-new { 
  		width: 954px !important;
  	}
  	.mobile-new-two { 
  		width: 954px !important;
  	}
	.mobile-new-two-center {
		margin: 0 auto;
		position: relative;
		left: 134px;
		bottom: 17px;
	}
	.navbar-top {
		  width: 100%;
		  padding-left: 0px;
		  padding-right: 0px;
	}
	.navbar-form-wrapper {
		padding-top: 0px;
		padding-bottom: 0px;
	}

}
@media (max-width: 320px) {
	.nav-bar-width-wrapper {
  		margin: 0px !important;
  		padding-left: 15px !important;
  	}
  	.mobile-new { 
  		width: 785px !important;
  	}
  	.mobile-new-two { 
  		width: 785px !important;
  	}
}
@media (max-width: 1024px) {
	.navbar-top {
		  width: 100%;
		  padding-left: 0px;
		  padding-right: 0px;
	}
}
@media (max-width: 768px) {
	.navbar-top {
		  width: 100%;
		  padding-left: 0px;
		  padding-right: 0px;
	}
}
@media (max-width:640px) {
	.navbar-top {
		  width: 100%;
		  padding-left: 0px;
		  padding-right: 0px;
	}
}