.section-photos-list{
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-left: 0px !important;
}
.photos-control-left {
	  background: #000;
	  width: 37px;
	  height: 37px;
	  top: 235px;
	  left: 11px;
}
.photos-control-right {
	  background: #000 !important;
	  width: 37px !important;
	  height: 37px !important;
	  top: 235px !important;
	  margin-right: 14px !important;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: 100%;
	border: #f6f6f6 11px solid;
	box-shadow: 0 0 5px 5px #d5d5d5;
}
.section-photo-par {
	padding: 0px 20px;
	margin-bottom: 20px;
	line-height: 28px;
	margin-top: 52px;
}
.selected img {
	opacity:0.5;
}
.list-inline > li {
	padding-left: 0px !important;
	padding-right: 0px !important;
	float: left;
}
.section-photos-row {
	width: 93%;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}
.photos-indicator-border {
	width: 100%;
	border: #dbdbdb 2px solid;
}
.section-photos-no-marg {
	margin-left: -15px;
}
.list-inline > li {
	
}