.photos-control {
	background: #000;
	width: 37px;
	height: 37px;
	top: 204px;
}
.photos-control-left {
	background: #000;
	width: 37px;
	height: 37px;
	top: 204px;	
	left: 72px;
}
.photos-control-right {
	background: #000;
	width: 37px;
	height: 37px;
	top: 204px;	
	margin-right: 76px;
}
.section-photos-banner {
	height: auto !important;
	padding: 46px;
	background-color: #fff;
}
.section-photos-img-border {
	border: #f6f6f6 10px solid;
	box-shadow: 0px 2px 2px 0px #d5d5d5;
	width: 88%;
  	margin: 0 auto;
}
.section-photos-indicator {
	width: 100%;
}
.section-photo-par {
	padding-top: 53px;
	line-height: 30px;
	padding-left: 53px;
	padding-right: 53px;
}
.carousel-indicators {
	position: relative;
}
.photos-no-pad{
	padding-left: 0;
	padding-right: 0;
	float: left;
}
.photos-indicator-border {
	border: #dbdbdb 2px solid;
	padding: 0;
	margin: 0 auto;
	clear: both;
}
.section-photos-row {
	margin-top: 50px;
	margin-left: 0px;
  	margin-right: 0px;
}