.promos-caption-header {
	font-size: 21px;
}
.promos-par2 {
	font-size: 15px;
	line-height: 25px;
}
.promos-list {
	text-align: center;
}
.promos-thumbnail{
	background: #eeeeee;
}
.promos-caption {
	background: #fff;
}