.rooms-details {
	padding-bottom: 20px;
	margin-top: 30px;
}
.rooms-header {
	font-size: 32px;
	text-transform: uppercase;
}
.rooms-tabs {
	width: 120px;
	text-align: center;
}
.mainrooms-max {
	width: 31%;
}